html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    margin: .5rem 0;
}

.form__block {
    margin: .5rem 0;
}

#complete {
    text-decoration: line-through;
    margin-right: .5rem;
}
